.LeftContainer {
  border: 2px solid;
  width: 59%;
  height: 99%;

  display: flex;
  flex-direction: column;
}
/* ------------------ */
.DivUser {
  padding: 5px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.DivPicture {
  width: 40%;
  height: 40%;
}
.UserIcon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* ------------------ */
.DivTitle {
  margin-left: 20px;
  margin-bottom: -100px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}
.pTitle {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  align-self: flex-start;
  margin-top: -5px;
}
.pName {
  align-self: flex-start;
  margin-top: -5px;
}
.pStars {
  align-self: flex-start;
  margin-top: -5px;
}
.pMoney {
  align-self: flex-start;
  margin-top: -5px;
}
/* ------------------ */
.DivText {
  padding: 5px;
}
